.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 0;
    width: 100%;
    height: 100%;
    overflow: scroll;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 10px;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}
.mainContent
{
    width: 1000px;
    display: inline-block;
    position: relative;
}
.scrolltofixed
{
    position: relative;
    width: 600px;
    display: inline-block;
    float: left;
}
.scrolltofixed h1
{
    height: 50px;
    text-align: left;
    line-height: 48px;
    margin: 0;
    background-color: #0086b3;
    width: 600px!important;
}
.controll
{
    width: 360px;
    display: inline;
    float: left;
    margin-left: 35px;
    margin-top: 30px;
    padding: 0;
    min-height: 320px;
    -webkit-box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.75);
}
.controll h1
{
    height: 50px;
    margin: auto;
    background-color: #0b97c4;
    color: #ffffff;
    text-align: center;
    font-size: 28px;
    line-height: 48px;
}
.controll pre
{
    border: 1px solid darkgray;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2) inset;
    margin: 5px 5px;
}


